/* Estilos para el editor y la interfaz */

html, body {
      font-family: Arial, sans-serif;
      height: 100%; /* Establece la altura del html y body al 100% */
      margin: 0; /* Elimina el margen predeterminado */
      padding: 0; /* Elimina el relleno predeterminado */
      background-color: #ededee;
      margin: 0;
      display: flex;
      flex-direction: column;
    }

    .CodeMirror {
        width: 100%;
        height: 40%;
	font-family: monospace;
	height: auto;
	font-size: 17px;
	color: black;
	font-weight: bold    
    }

    button {
      padding: 10px 20px;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      background-color: #61dafb;
      color: white;
      border: none;
      transition: background-color 0.3s;
      width: 100%;
    }

    button:hover {
      background-color: #68b2c6;
    }

    #retryButton {
      display: none;
      background-color: #f44336;
      width: 100%;
    }

    #retryButton:hover {
      background-color: #d32f2f;
    }

    #buttonTest2 {
      background-color: #4caf509c;
      color: green;
      margin-bottom: 3px;
	  color: #ffffff
    }

    /* Estilos para el contenedor de resultados de pruebas */
    #mocha {
      background-color: #d9e3d9;
      padding: 10px;
      font-family: Arial, sans-serif;
    }

    /* Estilos para la sección de resultados */
    #testResults {
      padding: 10px;
      margin-top: 10px;
      border-radius: 5px;
      color: #fff;
      font-weight: bold;
      font-size: 22px;
      font-family: helvetica;
    }

    /* Estilos para las estadísticas de las pruebas */
    #mocha-stats {
      margin-top: 0px;
      background-color: #ddd;
      border-radius: 5px;
      font-size: 21px;
      list-style: none;
    }

    #mocha-stats li {
      display: inline-block;
      padding: 8px 16px;
      border-bottom: 1px solid #ccc;
    }

    #mocha-stats li:last-child {
      border-bottom: none;
    }

    #mocha-stats li strong {
      font-weight: bold;
    }

    /* Estilos para el li class suite h1 href */
    a[href] {
      color: #000000;
      /* Color del texto del enlace */
      text-decoration: none;
      /* Sin subrayado */
      font-weight: bold;
      padding: 8px;
      margin-bottom: 5px;
      border-radius: 3px;
      transition: background-color 0.3s;
      font-size: 22px;
    }

    a[href]:hover {
      background-color: #f0f0f0;
      /* Cambio de color al pasar el mouse */
      font-size: 22px;
    }

    /* Eliminar los puntos de inicio para a y h2 */
    ul#mocha-report li.suite {
      list-style: none;
      /* Eliminar el estilo de lista */
      padding-left: 0;
      /* Eliminar el padding izquierdo si lo hubiera */
    }

    h2 {
      font-size: 17px;
      margin-top: -15px;
    }

    #explain {
      background: #dbd9e3;;
      padding: 10px;
      font-family: helvetica;
      font-size: 14px;
      padding-left: 34px;
    }

    #console {
      flex-shrink: 0;
      background-color: #1e1e1e; /* Cambié el color de fondo de la consola para un mejor contraste */
      color: white;
      padding: 10px;
      overflow-y: auto;
      height: auto; /* Ajusté la altura para dejar más espacio para el código */
    }

    #functionNameTitle{ 
      text-align: center;
      font-weight: bold;
      padding: 13px;
      font-size: 20px;	    
    }

.container {
    display: flex;
    flex-direction: row;
    height: 100%; /* Establece la altura de .container al 100% */
    margin-bottom: 20px; /* Agregamos un margen inferior para separar los contenedores */
}

.explanation {
    flex: 1; /* Cambiamos a flex: 1 para que ocupe todo el espacio disponible */
    padding-right: 0px;
    background-color: #f0f0f0; /* Color de fondo del bloque de explicación */
    padding: 20px; /* Ajustamos el padding interno */
    box-sizing: border-box; /* Incluimos el padding y border en el tamaño total del elemento */
}

.code-editor {
    flex: 2;
}

